<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>

    <style>
        body {
            text-align: center;
            width: fit-content;
            margin-left: 400px;
        }

        input {
            width: 300px;
            margin: 5px;
        }

        #togglePassword,
        #toggleConfirmPassword {
            width: auto;
        }

        .passcon {
            font-size: 11px;
            color: red;
        }
    </style>
</head>

<body>
    <form>
        <h2 class="registration">Registration</h2>
        <div>
            <!-- <label for="name">Full Name : </label>
            <br> -->
            <input type="text" id="name" placeholder="Enter your full name">
        </div>
        <div>
            <!-- <label for="dob">Date of Birth : </label>
            <br> -->
            <input type="date" id="dob" placeholder="Enter your Date of Birth">
        </div>
        <div>
            <!-- <label for="phone">Phone number : </label>
            <br> -->
            <input type="tel" id="phone" placeholder="Enter your phone number">
        </div>
        <div>
            <!-- <label for="email">Email : </label>
            <br> -->
            <input type="email" id="email" placeholder="Enter your Email address">
        </div>
        <div>
            <!-- <label for="pw">Password : </label>
            <br> -->
            <input type="password" id="pw" placeholder="Enter your password">
            <br>
            <input type="checkbox" id="togglePassword" class="togglePass"> Show Password
            <div class="passcon">Make sure it contains minimum 8 characters including atleast :<br>
                - 1 capital letter<br>- 1 digit <br>- 1 special character</div>
            <br>
        </div>
        <div>
            <!-- <label for="confirmpw">Confirm Password : </label>
            <br> -->
            <input type="password" id="confirmpw" placeholder="Enter your password again to confirm">
            <br>
            <input type="checkbox" id="toggleConfirmPassword" class="togglePass"> Show Password
        </div>
        <br>
        <button type="submit" id="register">Register</button>
    </form>
    <p>Already an user? <button onclick="window.location.href='login'">Sign in</button></p>
    
    <script>
        document.querySelectorAll(".togglePass").forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                let field = this.id === "togglePassword" ? document.getElementById("pw") : document.getElementById("confirmpw");
                field.type = this.checked ? "text" : "password";
            });
        });

        document.getElementById("register").addEventListener("click", function (event) {
            event.preventDefault();

            let name = document.getElementById("name").value.trim();
            let dob = document.getElementById("dob").value;
            let phone = document.getElementById("phone").value.trim();
            let email = document.getElementById("email").value.trim();
            let password = document.getElementById("pw").value;
            let confirm_password = document.getElementById("confirmpw").value;

            //regex patterns
            let nameRegex = /^[A-Za-z\s]+$/;
            let phoneregex = /^\d{10}$/;
            let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            //password should be atleast of 8 characters including 1 uppercase,1 digit and 1 special character
            let passwordRegex = /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if (!name || !dob || !phone || !email || !password || !confirm_password) {
                alert("Please fill all the fields!!!")
                return
            }

            if (!nameRegex.test(name)) {
                alert("Invalid entry!! Full name shold contain only letters and spaces");
                return
            }

            if (!phoneregex.test(phone)) {
                alert("Invalid entry!!! Phone number should only contaain 10 digits")
                return
            }

            if (!emailRegex.test(email)) {
                alert("Invalid Entry!!! Email should be on correct format")
                return
            }

            if (!passwordRegex.test(password)) {
                alert("Invalid password!!! password should minimum contain 8 characters including 1 Uppercase letter, 1 digit and 1 special character");
                return
            }

            if (password !== confirm_password) {
                alert("Password and Confirm password don't match. Please enter correctly.")
                return
            }

            let newUser = { name, dob, phone, email, password };

            fetch("/register", {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(newUser)
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    if (data.message === "User is successfully registered") {
                        window.location.href = "/login"; // Redirect to login page on success
                    }
                })
                .catch(error => console.error("Error:", error));
        })

    </script>

</body>

</html>